PORT=***
BACKEND_HOST=***
FRONTEND_URL= 

MONGODB_URI=***

CLOUDINARY_CLOUD_NAME=***

CLOUDINARY_API_SECRET=***

CLOUDINARY_API_KEY=***

JWT_SECRET=***

GOOGLE_CLIENT_ID=***

GOOGLE_CLIENT_SECRET=***

GOOGLE_CALLBACK_URL=***